* text eol=lf
*.jar -text
*.bat -text
*.pcap binary
*.blocks binary
*.eot binary
*.svg binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.ttf binary
*.woff binary
*.woff2 binary
goss-linux-amd64 binary
