# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

**/* @abdelhamidbakhta @ajsutton @bgravenorst @CjHare @EdJoJob @jframe @joshuafernandes @lucassaldanha @macfarla @MadelineMurray @mark-terry @mbaxter @NicolasMassart @rain-on @RatanRSur @rojotek @shemnon @timbeiko @usmansaleem 

