<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="5">

    <Properties>
        <Property name="root.log.level">INFO</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout alwaysWriteExceptions="false" pattern='{"timestamp":"%d{ISO8601}","level":"%level","thread":"%t","class":"%c{1}","message":"%msg","throwable":"%enc{%throwable}{JSON}"}%n'/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="${sys:root.log.level}">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>

</Configuration>
