name: integration-tests
on:
  workflow_dispatch:
  pull_request_review:
    types:
      - submitted

env:
  GRADLE_OPTS: "-Xmx6g -Dorg.gradle.daemon=false"

jobs:
  integrationTetst:
    runs-on: ubuntu-22.04
    # TODO: don't re-run on subsequent comments on an approved workflow
    if: ${{ github.actor != 'dependabot[bot]' && github.event.review.state == 'approved' }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 17
      - name: setup gradle
        uses: gradle/gradle-build-action@v2
      - name: run integration tests
        run: ./gradlew integrationTest -Dorg.gradle.parallel=true -Dorg.gradle.caching=true
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure() # always run even if the build step fails
        with:
          report_paths: '**/build/test-results/integrationTest/TEST-*.xml'


