name: reference-tests
on:
  workflow_dispatch:

env:
  GRADLE_OPTS: "-Xmx6g -Dorg.gradle.daemon=false"
  total-runners: 6

jobs:
  prepareReferenceTestEthereum:
    runs-on: ubuntu-22.04
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          submodules: recursive
          set-safe-directory: true
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 17
      - name: setup gradle
        uses: gradle/gradle-build-action@v2
      - name: execute generate reference tests
        run: ./gradlew ethereum:referencetests:blockchainReferenceTests ethereum:referencetests:generalstateReferenceTests ethereum:referencetests:generalstateRegressionReferenceTests -Dorg.gradle.parallel=true -Dorg.gradle.caching=true
      - name: store generated tests
        uses: actions/upload-artifact@v3
        with:
          name: 'reference-tests'
          path: 'ethereum/referencetests/build/generated/sources/reference-test/**/*.java'

  referenceTestEthereum:
    runs-on: ubuntu-22.04
    needs:
      - prepareReferenceTestEthereum
    #TODO: add condition to check pr is approved
    if: ${{ github.actor != 'dependabot[bot]' }}
    strategy:
      fail-fast: false
      matrix:
        runner-index: [0,1,2,3,4,5]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 17
      - name: retrieve generated tests
        uses: dawidd6/action-download-artifact@v2
        with:
          name: 'reference-tests'
          path: 'ethereum/referencetests/build/generated/sources/reference-test/'
      - name: get reference test report
        uses: dawidd6/action-download-artifact@v2
        with:
          branch: main
          name: reference-test-results
          path: tmp/ref-xml-reports-downloaded
          if_no_artifact_found: true
      - name: setup gradle
        uses: gradle/gradle-build-action@v2
      - name: Split tests
        id: split-tests
        uses: r7kamura/split-tests-by-timings@v0
        with:
          reports: tmp/ref-xml-reports-downloaded
          glob: 'ethereum/referencetests/build/generated/sources/reference-test/**/*.java'
          total: ${{env.total-runners}}
          index: ${{ matrix.runner-index }}
      - name: compose gradle args
        run: echo ${{ steps.split-tests.outputs.paths }} | sed -e 's/^.*java\///' -e 's@/@.@g' -e 's/\.java//' -e 's/^/--tests /' > refTestArgs.txt
      - name: run reference tests
        run: ./gradlew ethereum:referenceTests:referenceTests `cat refTestArgs.txt` -Dorg.gradle.parallel=true -Dorg.gradle.caching=true
      - name: Correct Ownership in GITHUB_WORKSPACE directory
        uses: peter-murray/reset-workspace-ownership-action@v1
        with:
          user_id: ${{ env.runner_uid }}
      - name: Upload Test Report
        uses: actions/upload-artifact@v3
        if: always() # always run even if the previous step fails
        with:
          name: reference-test-results
          path: '**/build/test-results/referenceTests/TEST-*.xml'

