<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
  <Properties>
    <Property name="root.log.level">INFO</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} | %t | %-5level | %c{1} | %msg%n" />
    </Console>
    <Console name="SubProcessConsole" target="SYSTEM_OUT">
      <PatternLayout pattern="Process %msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.hyperledger.besu.SubProcessLog" level="INFO" additivity="false">
      <AppenderRef ref="SubProcessConsole" />
    </Logger>
    <Root level="${sys:root.log.level}">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>
